body {
    background-color: rgb(241, 165, 216);
}

.watch {
    display: block;
}

.card {
    width: 20%;
    height: 20%;
    padding: 4%;
    margin: 5%;
    border-radius: 5%;
    flex: 0 0 20%;
}

.card-header {
    background-color: cornsilk;
}

.card-body {
    background-color: bisque;
}

.card-bodyunread {
    background-color: palevioletred;
}


.parent-element {

    display: flex;
    flex-wrap: wrap
}

.btn {
    margin : auto 1%;
}   

.btn-primary {
    margin: 5px;
}

.btn-warning {
    margin: 5px;
}